.section-develop {
  background-color: $white;
  position: relative;
  padding-bottom: 9%;


  .container-outer {
    top: 0;
    padding-top: 100px;
    position: sticky;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .container {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  .container-sticky {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
  }

  .section__header {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 436px;
    padding-top: 40px;
  }

  .section__title {
    width: 33%;
  }

  .develop {
    &__list {
      position: relative;
      display: flex;
      height: 100%;
      will-change: transform;
    }

    &__card {
      position: relative;
      width: 50%;
      max-width: 609px;
      min-height: 436px;
      margin-right: 140px;
      padding: 50px 35px 64px 10.5%;
      font-size: 17px;
      transition: ease-in .5s;

      flex-shrink: 0;
      background-color: #F2F6F6;

      &:before {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        transform: scaleY(0);
        background-color: $yellow;
        z-index: 0;
        transition: transform .35s;
        transform-origin: 0% 100%;
      }

      &.active:before {
        transform: scaleY(1);
      }

      &.active {
        .card__body p {
          overflow: visible;
          -webkit-line-clamp: inherit;
          height: auto;
          font-size: 20px;
          font-weight: 400;
          line-height: 29px;
          color: #000;
        }
      }
    }
  }

  .card__heading {
    position: relative;
    min-height: 66px;

    &:before {
      position: absolute;
      content: '';
      width: 41px;
      height: 37px;
      display: block;
      background-image: url(../assets/img/icon1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 4px;
      left: -9.5%;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  .develop__card:nth-child(2) {
    .card__heading:before {
      background-image: url(../assets/img/icon2.png);
    }
  }

  .develop__card:nth-child(3) {
    .card__heading:before {
      background-image: url(../assets/img/icon4.png);
    }
  }

  .develop__card:nth-child(4) {
    .card__heading:before {
      background-image: url(../assets/img/icon3.png);
    }
  }

  .card__title {
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -0.84px;
    font-weight: 500;
    margin-bottom: 75px;
    min-height: 71px;
  }

  .card__body {
    position: relative;
    z-index: 1;
    line-height: 1.5;

    p {
      font-weight: 300;
      font-size: 17px;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #686868;
    }
  }

  .wrap-btn {
    text-align: right;
  }

  @media only screen and (max-width: 1661px) {
    padding-bottom: 250px;
    .section__title {
      font-size: 45px;

      .decor {
        padding-bottom: 30px;
      }
    }

    .container-sticky {
      left: 35%;
    }
    .develop__card {
      margin-right: 100px;
    }
    .card__title {
      font-size: 27px;
    }
    .card__heading:before {
      width: 31px;
      height: 28px;

    }
    .card__body p {
      font-size: 16px;
    }
  }
  @include respond-to($xl) {
    padding-bottom: 160px;
    .develop__card {
      max-width: 550px;
      margin-right: 55px;
    }
    .card__title {
      margin-bottom: 46px;
    }
  }
  @include respond-to($lg) {
    height: auto;
    .container-outer {
      padding-top: 0;
      position: static;
      height: auto;

      .container {
        flex-wrap: wrap;
      }

      .section__header {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 0;
        margin-bottom: 56px;

        .decor {
          padding-bottom: 0;

          &:before {
            display: none;
          }
        }
      }

      .container-sticky {
        position: relative;
        left: 0;
        top: 0;
        transform: none;

      }

      .develop__list {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    .develop__card {
      width: 49%;
      margin-right: 0;
      border-bottom: 1px solid $yellow;
      padding-left: 15px;
      background-color: #ffffff;
      min-height: auto;
    }
    .card__title {
      padding-left: 51px;
      margin-bottom: 20px;

    }
    .card__heading {

      &:before {
        left: 18.5%;
      }
    }
    .card__body p {
      overflow: visible;
      -webkit-line-clamp: inherit;
      height: auto;
      font-size: 16px;
    }
  }
  @include respond-to($sm) {
    padding-bottom: 130px;
    .develop__card {
      width: 100%;
      padding-bottom: 57px;

    }
    .card__heading:before {
      left: 12.5%;
    }
  }
}