.section-gallery {
  padding-top: 47px;
  padding-bottom: 8%;
  position: relative;


  .block-logo {
    margin-bottom: 42px;
    display: flex;
    align-items: center;
  }

  .logo-link {
    display: inline-block;
    vertical-align: middle;
    width: 50%;

    &:nth-child(1) {
      text-align: right;
      padding-right: 105px;
    }

    &:nth-child(2) {
      padding-left: 105px;
    }
  }

  .card-gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -34px;
  }

  .card-gallery {
    padding: 0 54px;
    margin-bottom: 165px;
    width: 50%;

    .inner {
      overflow: hidden;
      margin-bottom: 18px;
      padding-top: 73.5%;
      position: relative;

      &_big {
        padding-top: 57%;
      }
    }

    &__text {
      color: #666666;
    }

    &__wrap-thumb {
      position: absolute;
      width: 105%;
      height: 105%;
      top: -15px;
      left: -15px;
    }

    &__thumb {
      &:hover,
      &:focus {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &_big {
      width: 100%;
      margin-bottom: 75px;
    }
  }


  @include respond-to($lg) {
    .card-gallery__list {
      margin: 0 -25px;
    }
    .card-gallery {
      padding: 0 25px;
    }

    .logo-link {
      &:nth-child(1) {
        padding-right: 55px;
      }

      &:nth-child(2) {
        padding-left: 55px;
      }
    }
  }
  @include respond-to($sm) {
    padding-top: 26px;
    background-color: $white;
    .block-logo {
      display: flex;
      justify-content: center;
      margin-bottom: 27px;
    }
    .logo-link {
      width: auto;
    }
    .card-gallery__list {
      margin: 0;
    }
    .card-gallery {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 70px;

      &:last-of-type {
        margin-bottom: 25px;
      }

      .inner {
        margin-bottom: 16px;
      }

      &__title {
        margin-bottom: 0;
        font-size: 20px;
      }

      &__text {
        font-size: 12px;
      }

      &__wrap-thumb,
      &__wrap-thumb_big {
        padding-top: 80%;
      }

      &__body {
        padding-left: 0;
      }
    }
  }
  @include respond-to($xs) {
    padding-top: 33px;
    .block-logo {
      margin-bottom: 50px;
    }
    .logo-link {
      &:nth-child(1) {
        width: 144px;
        padding-right: 25px;
      }

      &:nth-child(2) {
        padding-left: 25px;
        width: 69px;
      }
    }
  }
}