.section-develop {
  background-color: $white;
  position: relative;
  padding-bottom: 80px;


  .container-outer {
    top: 0;
    padding-top: 100px;
    position: sticky;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .container {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  .container-sticky {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
  }

  .section__header {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 436px;
    padding-top: 40px;
  }

  .section__title {
    width: 33%;
  }

  .develop {
    &__list {
      position: relative;
      display: flex;
      height: 100%;
    }

    &__card {
      position: relative;
      width: 50%;
      max-width: 609px;
      min-height: 436px;
      margin-right: 140px;
      padding: 50px 35px 64px 10.5%;
      font-size: 17px;
      transition: ease-in .5s;

      flex-shrink: 0;
      background-color: #F2F6F6;

      &:before {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        transform: scaleY(0);
        background-color: $yellow;
        z-index: 0;
        transition: transform .35s;
        transform-origin: 0% 100%;
      }

      &.active:before {
        transform: scaleY(1);
      }

      &.active {
        .card__body p {
          overflow: visible;
          -webkit-line-clamp: inherit;
          height: auto;
          font-size: 20px;
          line-height: 29px;
          color: #000;
        }
      }
    }
  }

  .card__heading {
    position: relative;
    padding-right: 35px;
    min-height: 66px;

    &:before {
      position: absolute;
      content: '';
      width: 41px;
      height: 37px;
      display: block;
      background-image: url(../assets/img/icon1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 4px;
      left: -9.5%;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  .develop__card:nth-child(2) {
    .card__heading:before {
      background-image: url(../assets/img/icon2.png);
    }
  }

  .develop__card:nth-child(3) {
    .card__heading:before {
      background-image: url(../assets/img/icon4.png);
    }
  }

  .develop__card:nth-child(4) {
    .card__heading:before {
      background-image: url(../assets/img/icon3.png);
    }
  }

  .card__title {
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -0.84px;
    font-weight: 500;
    margin-bottom: 75px;
    min-height: 71px;
  }

  .card__body {
    position: relative;
    z-index: 1;
    line-height: 1.5;

    p {
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #686868;
    }
  }

  .wrap-btn {
    text-align: right;
  }
}