.accordion {
  overflow: hidden;

  .accordion__arrow {
    position: absolute;
    background-image: url('../assets/img/arrow-down1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 35px;
    width: 33px;
    height: 18px;
    left: 0;
    transition: transform .5s;
    z-index: 11;
    cursor: pointer;

    display: none;
  }

  .panel {
    position: relative;
    padding-top: 95px;
    padding-bottom: 80px;
    width: 100%;

    &:before,
    &:after {
      position: absolute;
      content: '';
      display: block;
      right: 0;

    }

    &:after {
      height: 1px;
      background-color: $yellow;
      left: 0;
      bottom: 0;
    }

    &:before {
      background-image: url(../assets/img/svg/corner.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      -webkit-background-size: contain;
      background-size: contain;
      bottom: -5px;
      width: 10px;
      height: 11px;
    }

    &__heading {
      display: flex;
      padding: 0 60px 0 67px;
      transition: .7s;
      cursor: pointer;
    }

    &__title {
      position: relative;
      margin: 0 0 50px 0;
      color: $dark;
      font-size: 40px;
      font-weight: 400;
      flex-grow: 1;
    }

    .icon {
      position: absolute;
      width: 31px;
      height: 31px;
      display: inline-block;
      left: -67px;
      top: 9px;

      svg {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    &__text {
      font-size: 18px;
      line-height: 1.4;
      padding-left: 1.25%;
      width: 60%;
    }

    &:first-child {
      padding-top: 75px;
    }

    &:last-child:after {
      display: none;
    }
  }

  .panel-collapse {
    display: none;
    padding: 55px 0 0;

    &__body {
      background-color: #f2f6f6;
      padding: 15px 0;
    }
  }


  @include respond-to($lg) {
    .panel__text {
      font-size: 17px;
    }

    .panel__title {
      font-size: 27px;
      line-height: 30px;
      font-weight: 700;
    }
  }

  @include respond-to($md) {
    .panel {
      position: relative;
      padding-top: 55px;
      padding-bottom: 95px;

      &:before {
        display: none;
      }

      .panel-collapse {
        padding-top: 25px;
      }

      &__heading {
        padding-right: 0;
        padding-left: 0;
        flex-wrap: wrap;
        padding-bottom: 25px;
      }

      &__title {
        margin-bottom: 35px;
        padding-top: 0;
        width: 100%;
        font-size: 25px;
        padding-left: 52px;

        .icon {
          left: 0;
          top: 4px;

        }
      }

      &-collapse__body {
        padding: 0;
      }

      &__text {
        width: 100%;
        padding: 0;
      }

      .accordion__arrow {
        display: block;

        &.open {
            transform: rotate(-180deg);
        }
      }
    }
  }
}