.nice-select {
  border: 1px solid  #000000;
  border-radius: 0;
  //padding: 7px 10px 7px 0;
  color: $dark-grey;
  //height: 39px;
  //width: 26.5%;
  padding: 10px 35px 13px 63px;
  text-align: center!important;
  height: 43px;
  width: 175px;
  line-height: 20px;
  &:after {
    display: none;
  }
  &:before{
    position: absolute;
    content: '';
    background-image: url(../assets/img/svg/upload.svg);
    width: 17px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    //right: 0;
    //bottom: 5px;
    left: 20px;
    bottom: 50%;
    transform: translateY(50%);
  }
  .list {
    width: 100%;
    border-radius: 0;
    top: 0;
    margin-top: 0;
  }
}