.form {
  font-size: 20px;
  color: $dark;
  width: 100%;

  .input {
    display: block;
    width: 100%;
    background: #ffffff;
    border: none;
    border-bottom: .5px solid #000000;
    line-height: 1;
    padding: 20px 10px 10px 0;
    margin-bottom: 30px;
  }

  ::placeholder {
    color: $dark-grey;
  }

  .textarea {
    width: 55%;
    border: none;
    border-bottom: .5px solid #000000;
    padding: 20px 10px 10px 0;
    max-height: 143px;
    margin-bottom: 48px;
    overflow: hidden;
  }

  .field-box {
    max-width: 354px;
    width: 25%;
  }

  &__footer {
    display: flex;
    width: 55%;
    justify-content: space-between;

  }

  @include respond-to($xl) {
    .field-box {
      width: 32%;
    }
  }
  @include respond-to($sm) {
    font-size: 16px;
    .form__footer{
      flex-wrap: wrap;
      padding-left: 28px;
      padding-top: 30px;
    }
    .textarea{
      max-height: 54px;
      margin-bottom: 16px;
      padding-left: 20px;
      font-size: 16px;
    }
    .input{
      margin-bottom: 16px;
      padding-left: 20px;
    }
    .wrap-btn{
      width: 100%;
      margin-bottom: 74px;
    }
    .custom-select,
    .link-presentation{
      width: 48%;
      border: none;
      padding-right: 10px;
      padding-left: 46px;
    }
    .link-presentation:before,
    .custom-select:before{
      width: 34px;
      height: 37px;
      left: 0;
    }
  }
}

.link-presentation {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: $dark;
  display: block;
  padding: 10px 18px 13px 63px;
  border: 1px solid #000000;
  text-align: center;
  min-width: 175px;
  &:before {
    position: absolute;
    content: '';
    background-image: url(../assets/img/svg/up-pdf.svg);
    width: 19px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 20px;
    bottom: 50%;
    transform: translateY(50%);
  }
}
