.menu {
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  opacity: 0;
  transform: translateX(-100%);

  &__item {
    transition: .35s;
    color: $white;
    line-height: 1.2;
    margin-bottom: 1.75em;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      -webkit-text-stroke: 1px #ffffff;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}