$white: #ffffff;
$dark: #000000;
//$dark-grey: #8b8b8b;
$dark-grey: #B0B0B0;
$grey:#dcdcdc;
$gray-100:#e9e9e9;
$light-grey: #f9f9f9;

$yellow: #fbd300;
$gold:#ffed00;


$main-font:'Raleway', sans-serif;

// Screen Variables

$xs: '(max-width: 480px)';
$sm: '(max-width: 640px)';
$md: '(max-width: 768px)';
$lg: '(max-width: 980px)';
$xl: '(max-width: 1200px)';
$xxl: '(max-width: 1440px)';

