:root {
  font-size: 16px;
}

.wrapper {
  width: 100%;
}

body {
  font: 400 1em $main-font;
  color: $dark;
  font-feature-settings: 'pnum' on, 'lnum' on;
  @include respond-to($md) {
    font-size: 16px;
    line-height: 1.5;
  }

  &.modal-open {
    overflow: hidden;
    height: 100vh;
  }
}

.page {
  padding-top: 95px;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.section {
  &__title {
    position: relative;
    font-size: 65px;
    font-weight: 300;
    color: #c8c8c8;
    text-transform: uppercase;
    margin-bottom: 30px;

    &.decor {
      padding-bottom: 60px;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 2px;
        width: 194px;
        background-color: #fbe200;

      }
    }

    @include respond-to($lg) {
      font-size: 60px;
    }
    @include respond-to($sm) {
      font-size: 35px;
      line-height: 1.06;
      width: 90%;
      margin-bottom: 32px;
    }
  }

}

.dynamic-content {
  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.37;
    margin-bottom: 35px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
    height: auto;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  @include respond-to($md) {
    p {
      margin-bottom: 25px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    img {
      margin-top: 35px;
      margin-bottom: 35px;
    }
  }
  @include respond-to($sm) {
    img {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  @include respond-to($sm) {
    img {
      margin-top: 7px;
      margin-bottom: 7px;
    }
  }
}

.contact-btn {
  position: absolute;
  right: 50px;
  top: 30%;
  width: 90px;
  height: 90px;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  z-index: 300;

  &.ui.background--dark {
    filter: invert(1);
  }

  &.ui.background--white {
    filter: invert(0);
  }

  &.sticky {
    position: fixed;
    top: 50%;
  }
  .img_written {
    vertical-align: middle;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    width: 100%;
    height: auto;

  }

  .wrap-img-written {
    display: inline-block;
    background-image: url('../assets/img/svg/big-logo.svg');
    background-position: center;
    -webkit-background-size: 24px;
    background-size: 24px;
    background-repeat: no-repeat;

  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @include respond-to($lg) {
    width: 76px;
    height: 76px;
    right: 30px;
  }
  @include respond-to($sm) {
    position: fixed;
    bottom: 28px;
    top: auto;
    z-index: 300;
    &.sticky{
      position: fixed;
      top: auto;
      bottom: 28px;
    }
  }
  @include respond-to($xs) {
    width: 67px;
    height: 67px;
    right: 12px;
    .wrap-img-written {
      -webkit-background-size: 18px;
      background-size: 18px;
    }
  }
}

.section_anim {
  opacity: 0;
  -webkit-transition: opacity ease-in .5s;
}

.section_in-view {
  opacity: 1;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dark;
  opacity: 0.25;
  z-index: 500;
}
