.fade-in{
  opacity: 0;

  $animation-speed: .4s;
  &.active {
    animation: fadeIn ease-in $animation-speed forwards;
    -webkit-animation: fadeIn ease-in $animation-speed forwards;
    -moz-animation: fadeIn ease-in $animation-speed forwards;
    -ms-animation: fadeIn ease-in $animation-speed forwards;

    //@for $i from 1 through 4 {
    //  &:nth-child(#{$i}) {
    //    animation-delay: #{$i * .15}s;
    //  }
    //}
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    //transform: translateY(10px);
  }
  100% {
    opacity: 1;
    //transform: translateY(0);
  }
}