.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 550;
  background-color: transparent;
  line-height: 1.28;
  color: $white;
  padding: 50px 0;
  transition: .35s linear;

  .ui.background--dark {
    filter: invert(1);
  }

  .ui.background--white {
    filter: invert(0);
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 163px;
    height: auto;
    display: block;
  }

  .header__logo_mob {
    display: none;
  }

  .lang-switch {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    bottom: 65px;
    color: $white;

    &__link {
      display: inline-block;
      padding: 0 10px;

      &_active {
        font-weight: 600;
      }
    }
  }

  .btn-burger {
    border: none;
    background-color: transparent;
    display: block;
    width: 52px;
    height: 22px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    z-index: 950;

    .line {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: $dark;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 9px;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 18px;
        transform-origin: left center;
      }
    }

    &.open .line {
      background-color: #fff;

      &:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }

      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 35px;
        left: 8px;
      }
    }

    &:hover {
      transform: scale(1.5, 1);
    }

    &.open {
      &:hover,
      &:focus {
        transform: scale(1, 1);
      }
    }
  }

  .header__nav {
    padding: 90px 20px 75px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .8s;
    opacity: 0;
    visibility: hidden;
    z-index: 900;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;

    .header {
      background-color: transparent;
      z-index: 1;
    }

    &.open {
      opacity: .9;
      visibility: visible;
      transition: .8s;

      .menu {
        opacity: 1;
        transform: translateX(0);
        transition: 550ms all 550ms linear;
      }

      .lang-switch {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
        transition: 550ms all 550ms linear;
      }
    }

    .list {
      position: fixed;
      display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      height: 75px;
      overflow: hidden;
      transform: translateY(100%);
      transition: .5s;
      z-index: 1;

      &__item {
        width: 33.33%;
        position: relative;
        font-size: 15px;
        font-weight: 600;
        color: $white;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: .5px;
          background-color: $dark;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 1;
        }

        &:last-child:before {
          display: none;
        }
      }

      &__link {
        display: block;
        opacity: 0;
        padding: 20px 8px;

      }

      &.open-list {
        transform: translateY(0);

        .list__link {
          opacity: 1;
          transition: 550ms opacity 350ms linear;
        }
      }
    }

    .wrap-link {
      display: none;
    }
  }

  .lang-switch_mob {
    display: none;
  }

  .link-bar-mob {
    display: none;
    justify-content: center;
    width: 100%;
    max-width: 270px;

    &__item {
      position: relative;
      width: 50%;
      font-size: 15px;
      font-weight: 500;
      padding: 43px 10px 10px;
      text-align: center;

      img {
        position: absolute;
        filter: invert(1);
        width: 34px;
        height: 34px;
        top: 3px;
        left: 50%;
        transform: translate(-150%, 150%);
      }
    }
  }

  @include respond-to($xl) {
    padding: 30px 0;
    .header__logo {
      max-width: 130px;
    }
    .btn-burger {
      width: 40px;
      height: 11px;

      .line {
        height: 1px;

        &:nth-child(2) {
          top: 7px;
        }

        &:nth-child(3) {
          top: 14px;
        }
      }

      &.open .line {

        &:nth-child(3) {
          top: 25px;
        }
      }
    }
    .menu {
      font-size: 40px;
      font-weight: 400;

      &__item {
        margin-bottom: 63px;
        text-transform: none;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @include respond-to($sm) {
    &:not(.header_home) {
      background-color: $white;

      .ui.background--dark,
      .ui.background--white {
        -webkit-filter: none;
        filter: none;
      }
    }
    padding: 20px 0;
    .btn-burger:hover {
      transform: none;
    }
    .header__nav {
      flex-direction: column;
      justify-content: space-around;

      .header__logo {
        display: block;
        position: absolute;
        max-width: 44px;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
      }

      .link-bar-mob {
        display: flex;
      }

      .menu {
        transform: translateX(0);
        opacity: 1;
      }

      &.open {
        .btn-burger {
          .line {
            background-color: $white;
          }
        }

        .menu {
          &__item:nth-child(2) {
            opacity: 1;
            transform: translate(0, 0);
          }
        }

        .link-bar-mob img {
          transform: translate(-50%, 0);
          opacity: 1;
          transition: 550ms all 550ms linear;
        }
      }
    }
    .container {
      max-width: 100%;
      align-items: center;
    }
    .lang-switch {
      display: none;
    }
    .lang-switch_mob {
      display: block;

      .lang-switch__link {
        font-size: 16px;
        font-weight: 500;
        color: #000000;
      }

      .lang-switch__link_active {
        color: #ffffff;
        display: none;
      }
    }
    .header__logo {
      max-width: 44px;
      z-index: 1;
    }

    .btn-burger {
      order: -1;
      height: 22px;
      overflow: hidden;
    }
    .menu {
      margin-bottom: 50px;
    }
  }

  @include respond-to($xs) {
    .link-bar-mob {
      &__item img {

      }
    }
    .lang-switch {
      font-size: 13px;
    }
  }

  @media (orientation: portrait) and (max-height: 600px) {
    .menu__item {
      margin-bottom: 40px;
    }
  }
}

